html {
  font-family: "Arial", "メイリオ";
}

html h2 {
  font-weight: 300;
  letter-spacing: 2px;
}

html h3 {
  font-weight: 300;
  letter-spacing: 2px;
}

.common-title {
  margin: 0 auto;
  margin-bottom: 40px;
}

body {
  margin: 0;
}

ul {
  list-style: none;
}

/* #region ヘッダー */
header {
  background-color: white;
  width: 90%;
  height: 60px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  opacity: 0.8;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin-left: 30px;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: pink;
}

/* #endregion */

.insident{
  width:  100%;
  height: 60px;
  background-color: white;
}

/* #region 先頭へ戻るボタン */
.fas{
  color: rgba(0, 0, 0, 0.5);
  font-size: 40px;
  transition: all 0.3s ease;
}

.fas:hover{
  color: rgba(0, 0, 0, 0.8);
}

.fa{
  z-index: 10;
  position: absolute;
  bottom: 20px;
  right: 20px;
  position: fixed;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* #endregion */

/* #region fv */
.firstview {
  background-image: url(img/1stview.png);
  background-size: cover;
  width: 100%;
  height: 664px;
  display: flex;
  position: relative;
  z-index: 1;
}

.firstview::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.firstview-content {
  margin: auto;
  z-index: 3;
}

.firstview h2 span {
  font-size: 60px;
}

.firstview-content h2 {
  color: white;
}

 /* #endregion */

/* #region 自己紹介 */
.aboutme {
  display: flex;
  padding: 70px 5%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.aboutme-img img {
  width: 536px;
  height: 333px;
  border-radius: 10px;
}

.aboutme-content {
  height: 333px;
  width: 49%;
}

.aboutme-content h2 {
  margin-block-start: 0;
}

.aboutme-content ul {
  display: flex;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-top: 40px;
}

.aboutme-content li {
  margin-right: 20px;
}

.icon {
  transition: fill 0.3s;
}

.icon:hover {
  fill: pink;
}

/* #endregion */

/* #region スキル */
.skill {
  margin: 0 auto;
  padding: 70px 5%;
}

.common-subtitle h2 {
  font-size: 40px;
  text-align: center;
}

.skill-content table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  border-spacing: 0;
}

.skill-content tr {
  border-bottom: solid 1px #eee;
}

.skill-content tr:hover {
  background-color: rgba(182, 240, 255, 0.616);
}

.skill-content td,
.skill-content th {
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

td.skill-icon {
  background-size: 25px;
  background-position: left 70px center;
  padding-left: 20px;
  background-repeat: no-repeat;
}

.html {
  background-image: url(img/html-5.png);
}

.css {
  background-image: url(img/css-3.png);
}

.javascript {
  background-image: url(img/javascript.png);
}

.vue {
  background-image: url(img/vue.png);
}

.firebase {
  background-image: url(img/firebase.png);
}

.nuxt {
  background-image: url(img/nuxt-icon.png);
}

.node {
  background-image: url(img/nodejs.png);
}

/* #endregion */

/* #region 実績 */
.works {
  background-color: white;
  padding: 70px 5%;
}

.works h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.works ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline-start: 0;
}

.works ul li {
  width: 32%;
  border-radius: 10px;
  border: solid 2px #dcdcdc;
  margin-bottom: 20px;
}

.works ul img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.works ul li .content {
  padding: 10px 20px;
}

.works ul li .content p {
  font-size: 14px;
}

.works ul li .content h3 {
  font-weight: 300;
  letter-spacing: 1px;
}

.works ul li .content h3 a {
  font-size: 12px;
}

.mordallink {
  border-bottom: dashed 1px black;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 12px;
}

.mordallink:hover {
  color: pink;
  border-color: pink;
}

.works ul li .content .card-number {
  text-align: right;
  font-size: 22px;
}

/* #endregion */

/* #region 経歴 */
.timeline {
  background-color: skyblue;
  height: 400px;
}
/* #endregion */

/* #region フォーム */
.contact {
  background-color: gray;
  height: 300px;
}
/* #endregion */

/* #region フッター */
footer {
  background-color: green;
  height: 500px;
}
/* #endregion */
